.login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login a {
    color: var(--green);
}

.img {
    width: 50%;
    position: absolute;
    top: -30%;
}

.card {
    background-color: rgb(30, 30, 30);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50%;
    border-radius: 10px;
}

.card p {
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.card input {
    background-color: rgb(20, 20, 20);
    border: none;
    outline: none;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 10px;
}

.btn_submit {
    margin: 1rem;
    background-color: var(--green);
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.btn_submit:hover {
    background-color: var(--dark-green);
}

.btn_submit:disabled {
    background-color: var(--dark-green);
    cursor: alias;
}

@media screen and (max-width: 600px) {
    .card {
        width: 80%;
    }

    .img {
        width: 80%;
    }
}