.teams {
    display: flex;
    flex-wrap: wrap;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5rem;
}

.header img {
    height: 60vh;
}

.header h1 {
    font-size: 3rem;
}

.header span {
    color: var(--green);
}

.team {
    width: 20%;
    padding: .5rem;
}

.link {
    text-decoration: none;
    border: none;
    color: #fff;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: .5rem;
    border-radius: 10px;
    background-color: #000;
    gap: .5rem;
    transition: .2s;
}

.link:hover {
    background-color: var(--green);
}

.country {
    color: var(--green);
}

.link:hover .country {
    color: #000;
}

.logo {
    width: 3rem;
    height: 3rem;
}