.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    padding: 1rem;
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header a {
    color: #fff;
    transition: .2s;
    font-size: 1.5rem;
}

.header a:hover {
    color: var(--green);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
}

.logo span {
    color: #fff;
    font-size: 2rem;
}

.logo svg {
    color: var(--green);
    font-size: 3rem;
}