.page {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
}

.header select {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    font-size: larger;
    cursor: pointer;
    border: none;
    outline: none;
}

.header img {
    height: 55vh;
}

.header > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.header h1 {
    font-size: 2.5rem;
}

.header span {
    color: var(--green);
}

.leagues {
    display: flex;
    flex-wrap: wrap;
}

.league {
    width: 20%;
    padding: .5rem;
}

.logo {
    width: 3rem;
    height: 3rem;
}

.link {
    width: 100%;
    border: none;
    color: #fff;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: .5rem;
    border-radius: 10px;
    background-color: #000;
    gap: .5rem;
    transition: .2s;
    cursor: pointer;
}

.link:hover {
    background-color: var(--green);
}

@media screen and (max-width: 600px) {
    .header {
        padding: 10vh 0;
        gap: 3rem;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .header > div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .header img {
        height: auto;
        width: 80%;
    }

    .league {
        width: 50%;
    }

    .link {
        font-size: 1rem;
    }
}